* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Nunito"; */
    /* font-family: "Kantumruy Pro", sans-serif; */
}
body.en *:not(i):not(svg) {
    font-family: "Nunito";
}
body:not(.en) *:not(i):not(svg) {
    font-family: "Kantumruy Pro", sans-serif;
}
@font-face {
    font-family: "Nunito";
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTA3j77e.woff2)
        format("woff2");
}
.kantumruy-pro-normal {
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.kantumruy-pro-bold {
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.kantumruy-pro-italic {
    font-family: "Kantumruy Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

body {
    background-color: #f2f6ff;
}
.navbar .nav-leftside,
.navbar .nav-center,
.navbar .nav-rightside {
    flex-basis: auto;
}
.navbar {
    background: rgb(246, 250, 255);
    background: linear-gradient(
        90deg,
        rgba(246, 250, 255, 1) 5%,
        rgba(155, 202, 255, 1) 110%
    );
}
.btn-primary {
    background-color: #1577ff;
}
.nav-rightside {
    font-family: "Nunito";
}
.nav-link {
    border-radius: 10px;
    color: #1577ff;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Nunito";
}
.nav-link.active,
.nav-link:hover {
    background: rgb(243, 49, 247);
    background: linear-gradient(
        90deg,
        rgba(243, 49, 247, 1) 8%,
        rgba(87, 158, 255, 1) 70%
    );
    color: #f4f4f4 !important;
    border: none;
    transition: background-color 0.3s;
}
.main-footer {
    background-color: #1577ff;
    color: #f4f4f4;
    font-family: "Nunito";
}

.card {
    border: 1.5px solid #ffffff45;
    --bs-card-border-color: transparent;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: rgb(168, 49, 247);
    outline: 0;
    box-shadow: none;
}

@media (min-width: 1279px) {
    .col-md-9 {
        width: 75%;
    }
    .col-md-3 {
        width: 25%;
    }
    /* .nav-rightside {
        gap: 2.2rem !important;
    } */
    .btn-contact {
        margin: 8px 0;
    }
    .nav-link {
        padding: 0.5rem 1.25rem !important;
    }
    .nav-rightside {
        justify-content: space-evenly !important;
    }
}
@media (max-width: 1279px) {
    .col-md-9 {
        width: 85%;
    }
    .col-md-3 {
        width: 15%;
    }
    /* .nav-rightside {
        gap: 1.8rem !important;
    } */
    .btn-contact {
        margin: 8px 0;
    }
    .nav-link {
        padding: 0.5rem 1.25rem !important;
    }
}
@media (max-width: 1138px) {
    .navbar-toggler {
        display: none;
    }
    .btn-contact {
        margin: 8px 0;
    }
    .nav-link {
        font-size: 1rem !important;
        padding: 0.5rem 1rem !important;
        align-content: center;
    }
    .col-md-9 {
        width: 85%;
    }
    .col-md-3 {
        width: 15%;
    }
    .logo {
        width: 80%;
    }
    /* .nav-rightside {
        gap: 1rem !important;
    } */
}
@media (max-width: 822px) {
    .navbar-toggler {
        display: none;
    }
    .btn-contact {
        margin-top: 0.5rem !important;
    }
    .nav-link {
        font-size: 1rem !important;
        padding: 0.5rem 0.5rem !important;
    }
    .col-md-9 {
        width: 81%;
    }
    .col-md-3 {
        width: 19%;
    }
    .logo {
        width: 60%;
    }
    /* .nav-rightside {
        gap: 1rem !important;
    } */
}
@media (max-width: 705px) {
    .navbar-toggler {
        display: none;
    }
    .nav-link {
        font-size: 0.8rem !important;
    }
    .nav-rightside {
        text-align: center;
    }
    .btn-contact {
        font-size: 0.7rem !important;
        margin-top: 8px !important;
    }
    .container-fluid {
        padding-right: 0;
    }
}

@media (max-width: 565px) {
    #navRightside {
        display: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
    }

    #navRightside.show {
        display: flex;
        max-height: 500px;
    }
    .content {
        padding: 1.5rem 1.25rem !important;
    }
    .container-fluid {
        display: contents !important;
    }
    .navbar-brand {
        padding-left: 1.4rem;
    }
    .container {
        padding: 1rem 0 !important;
    }
    .nav-link {
        font-size: 0.8rem !important;
        width: 30%;
        text-align: center;
    }
    .nav-rightside {
        gap: 0.5rem !important;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 12.5%;
        position: absolute;
        top: 0;
        right: 0;
        background: rgb(246, 250, 255);
        background: linear-gradient(
            90deg,
            rgba(246, 250, 255, 1) 5%,
            rgba(155, 202, 255, 1) 110%
        );
        z-index: 1050;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .navbar-toggler {
        position: absolute;
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
        top: 0;
        right: 0;
        margin-top: 4%;
        margin-right: 1rem;
    }
    .logo {
        border-radius: 0 !important;
        width: 26vw;
    }
    .btn-login {
        margin: 0 0 10px 0 !important;
    }
}

@media (min-width: 410px) and (max-width: 500px) {
    .nav-rightside {
        margin-top: 14%;
    }
}

@media (min-width: 325px) and (max-width: 410px) {
    .nav-rightside {
        margin-top: 14%;
    }
}

@media (max-width: 325px) {
    .nav-rightside {
        margin-top: 2.5rem;
    }
    .navbar-toggler {
        position: absolute;
        display: block;
        background: none;
        border: none;
        font-size: 1.3rem;
        top: 0;
        right: 0;
        margin-top: 0.5rem;
        margin-right: 1rem;
    }
    .logo {
        width: 24vw;
    }
}
