* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito";
}
@font-face {
    font-family: "Nunito";
    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDLshdTA3j77e.woff2)
        format("woff2");
}
body {
    background-color: #f2f6ff;
}
.navbar .nav-leftside,
.navbar .nav-center,
.navbar .nav-rightside {
    flex-basis: auto;
}
.navbar {
    background: rgb(246, 250, 255);
    background: linear-gradient(
        90deg,
        rgba(246, 250, 255, 1) 5%,
        rgba(155, 202, 255, 1) 110%
    );
}
.btn-primary {
    background-color: #1577ff;
}
.nav-rightside {
    font-family: "Nunito";
}
.nav-link {
    border-radius: 10px;
    color: #1577ff;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Nunito";
}
.nav-link.active,
.nav-link:hover {
    background: rgb(243, 49, 247);
    background: linear-gradient(
        90deg,
        rgba(243, 49, 247, 1) 8%,
        rgba(87, 158, 255, 1) 70%
    );
    color: #f4f4f4 !important;
    border: none;
    transition: background-color 0.3s;
}
.main-footer {
    background-color: #1577ff;
    color: #f4f4f4;
    font-family: "Nunito";
}
@media (min-width: 1279px) {
    .col-md-9 {
        width: 80%;
    }
    .col-md-3 {
        width: 20%;
    }
    .nav-rightside {
        gap: 2.2rem !important;
    }
    .btn-contact {
        margin-left: 3rem;
    }
    .nav-link {
        padding: 0.5rem 1.25rem !important;
    }
}
@media (max-width: 1279px) {
    .col-md-9 {
        width: 80%;
    }
    .col-md-3 {
        width: 20%;
    }
    .nav-rightside {
        gap: 1.8rem !important;
    }
    .btn-contact {
        margin-left: 3rem;
    }
    .nav-link {
        padding: 0.5rem 1.25rem !important;
    }
}
@media (max-width: 1138px) {
    .navbar-toggler {
        display: none;
    }
    .btn-contact {
        margin-left: 0.3rem;
    }
    .nav-link {
        font-size: 1rem !important;
        padding: 0.5rem 1.1rem !important;
    }
    .col-md-9 {
        width: 81%;
    }
    .col-md-3 {
        width: 19%;
    }
    .nav-rightside {
        gap: 1rem !important;
    }
}
@media (max-width: 822px) {
    .navbar-toggler {
        display: none;
    }
    .btn-contact {
        margin-top: 5px !important;
    }
    .nav-link {
        font-size: 1rem !important;
        padding: 0.5rem 0.5rem !important;
    }
    .col-md-9 {
        width: 81%;
    }
    .col-md-3 {
        width: 19%;
    }
    .nav-rightside {
        gap: 1rem !important;
    }
}
@media (max-width: 705px) {
    .navbar-toggler {
        display: none;
    }
    .nav-link {
        font-size: 0.8rem !important;
    }
    .nav-rightside {
        gap: 0.5rem !important;
    }
    .nav-rightside {
        text-align: center;
    }
    .btn-contact {
        font-size: 0.7rem !important;
        margin-top: 5px !important;
    }
    .container-fluid {
        padding-right: 0;
    }
}

@media (max-width: 565px) {
    #navRightside {
        display: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
    }

    #navRightside.show {
        display: flex;
        max-height: 500px;
    }
    .content {
        padding: 1.5rem 1.25rem !important;
    }
    .container-fluid {
        display: contents !important;
    }
    .navbar-brand {
        padding-left: 1.4rem;
    }
    .container {
        padding: 1rem 0 !important;
    }
    .nav-link {
        font-size: 0.8rem !important;
        width: 30%;
        text-align: center;
    }
    .nav-rightside {
        gap: 0.5rem !important;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 3.2rem;
        padding: 0.3rem 0;
        position: absolute;
        top: 0;
        right: 0;
        background: rgb(246, 250, 255);
        background: linear-gradient(
            90deg,
            rgba(246, 250, 255, 1) 5%,
            rgba(155, 202, 255, 1) 110%
        );
        z-index: 1050;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .navbar-toggler {
        position: absolute;
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
        top: 0;
        right: 0;
        margin-top: 0.8rem;
        margin-right: 1rem;
    }
    .logo {
        border-radius: 0 !important;
        width: 26vw;
    }
    .btn-contact {
        margin-bottom: 10px !important;
    }
}
@media (max-width: 325px) {
    .nav-rightside {
        margin-top: 2.5rem;
    }
    .navbar-toggler {
        position: absolute;
        display: block;
        background: none;
        border: none;
        font-size: 1.3rem;
        top: 0;
        right: 0;
        margin-top: 0.5rem;
        margin-right: 1rem;
    }
    .logo {
        width: 24vw;
    }
}
